mixin videogrid( videos, cols = 4 )
  if videos && videos.length > 0
    div.frame-videogrid( style= '--cols:' + cols )
      each video in videos
        a.frame-videogrid--item(
          href= '/watch/' + video.id,
          title= video.title,
          video= video.id
        )
          img.frame-videogrid--item-preview(
            src= '/media/' + video.id + '/' + video.thumbnail,
            alt= "Thumbnail"
          )
          div.frame-videogrid--item-overlay
            span= video.title
            time= video.duration
          div.frame-videogrid--item-progress
