mixin videolist( videos, query = {}, current = null )
  if videos && videos.length > 0
    - var queryStr = '?' + new URLSearchParams( query ).toString()
    div.frame-videolist
      each video in videos
        if video
          a.frame-videolist--item(
            href= '/watch/' + video.id + queryStr,
            class= ( current == video.id ? 'current' : '' )
          )
            div.frame-videolist--item-preview
              i.icon.icon-play
              img(
                src= '/media/' + video.id + '/' + video.thumbnail,
                alt= "Thumbnail"
              )
            div.frame-videolist--item-info
              h4.title= video.title
              div.meta
                span= video.author
                span •
                span= t( 'category.' + video.category )
                span •
                span= video.pg
                span •
                span= video.year
            time.frame-videolist--item-duration= video.duration
            div.frame-videolist--item-rating
              each i in [ 1, 2, 3, 4, 5 ]
                i.icon( class= 'icon-star' + (
                  i <= video.stats.rating ? '-full' : ''
                ) )
