doctype html
html( lang= language, template = template )

  //- Document head
  head
    meta( charset= "UTF-8" )
    meta( name= "viewport", content= "width=device-width, initial-scale=1.0" )
    link( rel= "icon", href= "/images/favicon.ico", sizes= "256x256", type= "image/x-icon" )
    link( rel= "icon", href= "/images/favicon.svg", sizes= "any", type= "image/svg+xml" )
    title= title + ' — ' + t( 'generic.slogan' )

  //- Scripts
  block scripts
    script( src= "/js/global.min.js", type= "text/javascript" )

  //- Stylesheets
  block styles
    link( rel= "stylesheet", href= "/css/global.min.css" )
    link( rel= "stylesheet", href= "/css/layout.min.css" )

  //- Body
  body#top.frame

    //- Header
    header#header.frame-header( role= "banner", aria-label= "Header" )
      a.frame-header--logo( href= "/", title= t( 'generic.slogan' ) )
        img( src= "/images/favicon.svg", alt= "Logo" )
      nav.frame-header--nav( role= "navigation", aria-label= "Menu" )
        each link in [ 'home', 'themes', 'list', 'upload' ]
          a.frame-header--nav-link(
            class= ( link == template ? 'current' : '' ),
            href= '/' + ( link == home ? '' : link )
          )= t( 'header.nav.' + link )
      form.frame-header--search(
        action= "/search", method= "get",
        autocomplete= "off", spell-check= "off",
        role= "search", aria-label= "Search"
      )
        i.icon.icon-search
        input(
          type= "text", name= "q", value= query || '',
          placeholder= t( 'header.search.placeholder' )
        )
      div.frame-header--dasher
        div.frame-header--dasher-opener( title= t( 'header.dasher.label' ) )
          i.icon.icon-settings

    //- Content
    main#main.frame-main( role= "main", aria-label= "Content" )
      block content
