extends ./_layout

append scripts
  script( src= "/js/search.min.js", type= "text/javascript", defer )

append styles
  link( rel= "stylesheet", href= "/css/search.min.css" )
  link( rel= "stylesheet", href= "/css/mixin.min.css" )

block content
  div.frame-search

    //- Search form
    form.frame-search--form( autocomplete= "off", spell-check= "off" )
      div.frame-search--form-line

        //- Search query
        div.frame-search--form-query
          i.icon.icon-search
          input( type= "text", name= "q", placeholder= t( 'views.search.form.query' ) )

        //- Sort results
        div.frame-search--form-sort
          label( for= "sort" )= t( 'views.search.form.sort.label' )
          select#sort( name= "sort" )
            each opt in [ 'date', 'title', 'views', 'rating', 'duration' ]
              option( value= opt )= t( 'views.search.form.sort.' + opt )
          select#order( name= "order" )
            option( value= "desc" )= t( 'views.search.form.order.desc' )
            option( value= "asc" )= t( 'views.search.form.order.asc' )

      div.frame-search--form-line

        //- Filters
        div.frame-search--form-filter

          //- Author (channel)
          div.frame-search--form-filter-item
            label( for= "author" )= t( 'views.search.form.author' )
            select#author( name= "author" )
              option( value= "" )= t( 'views.search.form.all' )
              each a in authors
                option( value= a )= a

          //- Category
          div.frame-search--form-filter-item
            label( for= "category" )= t( 'views.search.form.category' )
            select#category( name= "category" )
              option( value= "" )= t( 'views.search.form.all' )
              each c in categories
                option( value= c )= t( 'category.' + c )

          //- Tag
          div.frame-search--form-filter-item
            label( for= "tag" )= t( 'views.search.form.tag' )
            select#tag( name= "tag" )
              option( value= "" )= t( 'views.search.form.all' )
              each t in tags
                option( value= t )= t

          //- Year
          div.frame-search--form-filter-item
            label( for= "year" )= t( 'views.search.form.year' )
            select#year( name= "year" )
              option( value= "" )= t( 'views.search.form.all' )
              each y in years
                option( value= y )= y

          //- Language
          div.frame-search--form-filter-item
            label( for= "lang" )= t( 'views.search.form.lang' )
            select#lang( name= "lang" )
              option( value= "" )= t( 'views.search.form.all' )
              each l in langs
                option( value= l )= t( 'lang.' + l )

        //- Submit
        div.frame-search--form-submit
          button( type= "submit" )= t( 'views.search.form.submit' )

    //- Search results
    div.frame-search--results

      //- Empty results
      div.frame-search--empty
        i.icon.icon-info
        p= t( 'views.search.empty' )

      //- Show results
      div.frame-search--results-grid.hidden

      //- Result loader
      div.frame-search--loader.hidden
        svg( xmlns= "http://www.w3.org/2000/svg", viewBox= "0 0 48 48" )
          g: circle( cx= 24, cy= 24, r= 19 )

      //- Load more results
      div.frame-search--more.hidden
        button( load )= t( 'views.search.more' )
