extends ./_layout

append scripts
  script( src= "/js/upload.min.js", type= "text/javascript", defer )

append styles
  link( rel= "stylesheet", href= "/css/upload.min.css" )

block content
  form.frame-upload(
    enctype= "multipart/form-data", autocomplete= "off", spell-check= "on",
    aria-label= "Video Upload"
  )

    //- Left column
    div.frame-upload--column

      //- Video meta
      div.frame-box.frame-upload--box
        h3= t( 'views.upload.form.meta' )
        div.frame-upload--form-group
          label( for= "title" )= t( 'views.upload.form.title' )
          input#title(
            type= "text", name= "title", required,
            placeholder= t( 'views.upload.form.titlePlaceholder' )
          )
        div.frame-upload--form-row
          div.frame-upload--form-group
            label( for= "author" )= t( 'views.upload.form.author' )
            input#author(
              type= "text", name= "author", required,
              placeholder= t( 'views.upload.form.authorPlaceholder' )
            )
          div.frame-upload--form-group
            label( for= "source" )= t( 'views.upload.form.source' )
            input#source(
              type= "text", name= "source",
              placeholder= t( 'views.upload.form.sourcePlaceholder' )
            )
        div.frame-upload--form-row
          div.frame-upload--form-group
            label( for= "date" )= t( 'views.upload.form.date' )
            input#date( type= "date", name= "date" )
          div.frame-upload--form-group
            label( for= "lang" )= t( 'views.upload.form.lang' )
            select#lang( name= "lang" )
              option( disabled, selected )= t( 'views.upload.form.langPlaceholder' )
              each l in [ 'en', 'de', 'es', 'fr', 'it', 'ru' ]
                option( value= l )= t( 'lang.' + l )
        div.frame-upload--form-group
          label( for= "description" )= t( 'views.upload.form.description' )
          textarea#description(
            name= "description", rows= 5,
            placeholder= t( 'views.upload.form.descriptionPlaceholder' )
          )

      //- Special
      div.frame-box.frame-upload--box
        h3= t( 'views.upload.form.special' )
        div.frame-upload--form-row
          div.frame-upload--form-group
            label( for= "category" )= t( 'views.upload.form.category' )
            select#category( name= "category", required )
              option( disabled, selected )= t( 'views.upload.form.categoryPlaceholder' )
              each c in [ 'education', 'entertainment', 'music', 'sports', 'technology', 'other' ]
                option( value= c )= t( 'category.' + c )
          div.frame-upload--form-group
            label( for= "pg" )= t( 'views.upload.form.pg' )
            select#pg( name= "pg", required )
              option( disabled, selected )= t( 'views.upload.form.pgPlaceholder' )
              each p in [ 'G', 'PG', 'PG-13', 'R', 'NC-17' ]
                option( value= p )= p
        div.frame-upload--form-group
          label( for= "tags" )= t( 'views.upload.form.tags' )
          input#tags(
            type= "text", name= "tags",
            placeholder= t( 'views.upload.form.tagsPlaceholder' )
          )

    //- Right column
    div.frame-upload--column

      //- Video file
      div.frame-upload--file
        div.frame-upload--file-drop
          input( type= "file", name= "video", accept= "video/*", required )
          i.icon.icon-upload
          strong= t( 'views.upload.form.file.drop' )
          span= t( 'views.upload.form.file.supported' )
        div.frame-upload--file-preview.hidden
          video.preview-player
          button.change-file= t( 'views.upload.form.file.change' )

      //- Video file info
      div.frame-box.frame-upload--box
        ul.frame-upload--file-info
          li
            span= t( 'views.upload.form.file.info.name' )
            strong.name —
          li
            span= t( 'views.upload.form.file.info.size' )
            strong.size —
          li
            span= t( 'views.upload.form.file.info.type' )
            strong.type —
          li
            span= t( 'views.upload.form.file.info.duration' )
            strong.duration —
          li
            span= t( 'views.upload.form.file.info.resolution' )
            strong.resolution —

      //- Form actions
      div.frame-upload--actions
        button.submit( type= "submit" )= t( 'views.upload.form.submit' )
        button( type= "reset" )= t( 'views.upload.form.reset' )

    //- Upload processing
    div.frame-upload--progress
      div.frame-upload--progress-indicator
        svg.frame-upload--progress-bar( viewBox= "0 0 120 120" )
          circle.track( cx= 60, cy= 60, r= 54 )
          circle.progress( cx= 60, cy= 60, r= 54, pathLength= 100 )
        strong.frame-upload--progress-label 0%
      div.frame-upload--progress-info
        h3= t( 'views.upload.processing.label' )
        p.frame-upload--progress-message= t( 'views.upload.processing.msg.upload' )

    //- Upload error
    div.frame-upload--error
      i.icon.icon-alert
      strong.frame-upload--error-message
