extends ./_layout
include ./mixin/videogrid

append scripts
  script( src= "https://cdn.jsdelivr.net/npm/hls.js@latest", type= "text/javascript" )
  script( src= "/js/player.min.js", type= "text/javascript", defer )
  script( src= "/js/watch.min.js", type= "text/javascript", defer )

append styles
  link( rel= "stylesheet", href= "/css/watch.min.css" )
  link( rel= "stylesheet", href= "/css/player.min.css" )
  link( rel= "stylesheet", href= "/css/mixin.min.css" )

block content
  div.frame-watch

    //- Video player
    div.player.load( videoId= videoId, playlist= list && list.id || undefined )
      div.player-container
        video.video-player

        //- Player controls
        div.player-controls

          //- Action pane
          div.action( action= "interact" )

          //- Player progress bar
          div.progress
            canvas.waveform

            //- Seekbar (progress)
            div.seekbar( action= "seek" )
              div.buffered
              div.handle
                div.hover
                  div.preview
                  div.time 00:00
              div.played

          //- Control actions
          div.controls
            div.left
              each btn in [ 'play', 'pause', 'replay', 'prev', 'next', 'rewind', 'fastForward' ]
                button( action= btn, title= t( 'player.action.' + btn ) )
                  i( class= 'icon icon-' + btn )
              div.volume
                button( action= "mute", title= t( 'player.action.mute' ) )
                  i.icon.icon-volume
                button( action= "unmute", title= t( 'player.action.unmute' ) )
                  i.icon.icon-mute
                div.slider( title= t( 'player.action.volume' ) )
                  input(
                    type= "range", action= "volume",
                    min= 0, max= 1, step= 0.05,
                    value= 1
                  )
              div.timecode
                span.cur 00:00
                span.div /
                span.dur 00:00
              a.playlist
                i.icon.icon-link
                span.name

            div.right
              each btn in [ 'playlist', 'download', 'settings', 'info', 'maximize', 'minimize' ]
                button( action= btn, title= t( 'player.action.' + btn ) )
                  i( class= 'icon icon-' + btn )
          div.player-settings( action= "pbr" )
            each pbr in [ 0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2 ]
              button(
                rate= pbr, class= ( pbr == 1 ? 'active' : '' )
              )= t( 'player.action.pbr.' + ( pbr == 1 ? 'normal' : 'speed' ), { pbr } )

        //- Info
        div.player-info
          h3= t( 'player.info.title' )
          div.player-info--content
            div.player-info--section
              h4= t( 'player.info.video.title' )
              ul.player-info--list.video
                each k in [ 'duration', 'resolution', 'size', 'fps', 'bitrate', 'format', 'codec' ]
                  li( info= k )
                    span= t( 'player.info.video.' + k )
                    strong
            div.player-info--section
              h4= t( 'player.info.audio.title' )
              ul.player-info--list.audio
                each k in [ 'codec', 'rate', 'channels' ]
                  li( info= k )
                    span= t( 'player.info.audio.' + k )
                    strong
            div.player-info--section
              h4= t( 'player.info.info.title' )
              ul.player-info--list.info
                each k in [ 'source', 'date' ]
                  li( info= k )
                    span= t( 'player.info.info.' + k )
                    strong

        //- Overlay
        div.player-overlay
          i.icon
          strong.msg

        //- Loader
        div.player-loader
          svg( xmlns= "http://www.w3.org/2000/svg", viewBox= "0 0 48 48" )
            g: circle( cx= 24, cy= 24, r= 19 )

    //- Video description
    div.frame-watch--content

      //- Left column
      div.frame-watch--column

        //- Video description
        div.frame-box.frame-watch--meta
          h2.frame-watch--meta-title= video.title
          div.frame-watch--meta-info
            a( href= '/search?author=' + encodeURIComponent( video.author ) ).author= video.author
            span •
            a( href= '/themes/' + video.category ).category= t( 'category.' + video.category )
            span •
            a( href= '/search?pg=' + encodeURIComponent( video.pg ) ).pg= video.pg
            span •
            a( href= '/search?year=' + video.year ).year= video.year
          p.frame-watch--meta-description= video.description
          div.frame-watch--meta-tags
            each tag in video.tags
              a( href= '/search?tag=' + encodeURIComponent( tag ) )= tag

        //- Video suggestions
        div.frame-watch--suggested
          h3= t( 'mixin.videogrid.suggested' )
          +videogrid( suggestions, 2 )

      //- Right column (aside)
      aside.frame-watch--column

        //- Video stats
        div.frame-box.frame-watch--stats
          i.icon.icon-radio
          strong.views!= t( 'views.watch.stats.views', { views: video.stats.views } )
          button( action= "thumbsUp", title= t( 'views.watch.stats.thumbsUp' ) ): i.icon.icon-thumbsUp
          button( action= "thumbsDown", title= t( 'views.watch.stats.thumbsDown' ) ): i.icon.icon-thumbsDown
          strong.rating= ( video.stats.rating || 0 ).toFixed( 1 )

        //- Playlist
        if list && list.videos.length > 0
          div.frame-box.frame-watch--playlist
            div.frame-watch--playlist-header
              i.icon.icon-playlist
              a( href= '/list/' + list.id )= list.name
            div.frame-watch--playlist-list
              +videogrid( list.videos, 1 )
